<div class="wrapper">

  <!-- HEADER -->
  <header>
    <div class="netflixLogo">
      <a id="logo" href="#home"><img src="/assets/netflix.svg"></a>
    </div>      
    <nav class="main-nav">                
      <a href="#home">Home</a>
      <a href="#tvShows">TV Shows</a>
      <a href="#movies">Movies</a>
      <a href="#latest">Latest</a>
      <a href="#mylist">My List</a>
        
    </nav>
    <nav class="sub-nav">
      <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
      <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>

      <a href="#"><img src="https://occ-0-4345-3647.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABRGTK96GBeqNw5zzYXnoa8oVjSjhuk7SuseuKTmgEKwpcCB59994UWb6wd7d1WONZOuzJwbLNpzG5Okfo4rSDLg.png?r=ee6"
        alt="avatar"></a>
    </nav>      
  </header>

  <section class="main-container" >
    <div class="location" id="home">
        <h1 id="home">Trending</h1>
        <app-slider [sliderConfig]="sliderConfig" [movies]="nowPlaying" ></app-slider>
        <div class="box">  
         
        </div>
    </div>
    

    <h1 id="myList">Trending Now</h1>
    <div >
      <app-slider [sliderConfig]="sliderConfig" [movies]="nowPlaying" ></app-slider>
        
    </div>
    
    <h1 id="tvShows">TV Shows</h1>
    <div>
      <app-slider [sliderConfig]="sliderConfig" [movies]="nowPlaying" ></app-slider>

             
    </div>
    

    <h1 id="movies">Blockbuster Action & Adventure</h1>
    <div>
      <app-slider [sliderConfig]="sliderConfig" [movies]="nowPlaying" ></app-slider>

             
    </div>

    <h1 id="originals">Netflix Originals</h1>
    <div>
      <app-slider [sliderConfig]="sliderConfig" [movies]="nowPlaying" ></app-slider>

             
    </div>
    
  </section>





</div>